.title-background{
    text-decoration: solid;
    text-align: center;
    color: rgb(252, 252, 253);
    background-color: orangered;
}
.title-background-card{
    text-decoration: solid;
    text-align: center;
    color: rgb(252, 252, 253);
    background-color: rgb(17, 17, 80);
}
.ts-bg{
    background-color: rgb(202, 202, 202);
}
::placeholder{
    color: rgb(112, 167, 170);
    font-family: sans-serif;
}

.ts-bg2{
    background-color: rgb(247, 255, 219);
}
.ts-bg3{
    color: wheat;
    background-color: rgb(35, 61, 133);
}
.ts-bg4{
    color: wheat;
    background-color: orangered;
}
.ts-dashbord-bg{
    overflow-x: auto;
    background-color: rgb(255, 255, 255);
}
.ts-dashbord-bg2{
    background-color: rgb(137, 245, 160);
}
.cell-style{    
    border: 2px;
    border-color: rgb(255, 255, 255);
    width: 45px;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(23, 11, 129);
    background-color: rgb(255, 255, 255);    
}
.cell-style-weekend{   
    border: 5px;
    border-color: rgb(243, 243, 243);
    width: 45px;
    font-size: 1.2em;
    text-align: center;
    color: rgb(194, 207, 164);
    background-color: rgb(194, 207, 164);
    
}

.cell-style-holidayline{   
    border-color: rgb(245, 218, 218);
    width: 45px;
    text-align: center; 
    color: rgb(255, 187, 246);
    background-color: rgb(255, 187, 246);
}
.cell-style-holiday{   
    border-color: rgb(245, 218, 218);
    width: 45px;
    text-align: center;
    color: rgb(245, 180, 220);
    background-color: rgb(245, 180, 220);
}
.cell-style-holiday-active{    
    border-color: rgb(237, 245, 147);
    width: 45px;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(68, 6, 44);
    background-color: rgb(237, 245, 147);
}
.cell-style-v-total{    
    border: 4px;
    border-color: rgb(131, 3, 10);
    width: 48px;
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(177, 5, 111);
    background-color: rgb(129, 245, 220);
}
.cell-style2{    
    border: 1px;
    border-color: rgb(235, 3, 3);
    width: 56px;
    font-size: x-small;
    text-align: center;
    color: rgb(43, 2, 2);
    background-color: rgb(224, 224, 224);
}
.cell-style-vacationdayline{   
    border-color: rgb(245, 218, 218);
    width: 45px;
    font-size: 1.3em;
    text-align: center; 
    color: rgb(19, 20, 77);
    background-color: rgb(235, 167, 89);
}
.cell-spacer{    
    border: 5px;
    border-color: rgb(235, 3, 3);
    width: 15px;
    background-color: rgb(48, 6, 116);
}
.div-spacer{    
    height: 5rem;
}
.cell-tvh{     
    border: 5px;
    border-color: rgb(50, 116, 202);
    width: 35px;
    height: 25px;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:  rgb(50, 116, 202);
}
.vth-txt{
    font-size: 1.4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.msg-field-size{
    height: 5rem;
}
.ts-container-size{
    height: 30rem;
}
.msg-field-color{
    background-color: rgb(193, 221, 247);
}
.msg-box-bg{
    background-color: rgb(190, 255, 217);
}
.panel-bg{
    background-color: rgb(177, 250, 213);
}
.v-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-newts-size{
    height: 2.5rem;
    width: 10rem;
    justify-content: center;
}
.icon-newts-size{
   font-size: 1rem;
}
.horiz-bar{
    overflow: auto;
}
.total-txt{    
    border: 5px;
    width: 80px;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    border-color: rgb(241, 6, 6);
}
.weekend-bg-color{
    color: rgb(202, 202, 202);
    background-color: rgb(202, 202, 202);
}
.theader-bg-color{
    font-style: italic;
    font-size: x-small;
    border-color: blue;
    border-left: 4px;
    background-color: rgb(230, 229, 229);
}
.faradja-bg2{
    background-color: rgb(17, 17, 80);
}
.btn-sm-ts{
    width: 20px;
    height: 20px;
    text-align: center;
    --bs-btn-padding-y:0.01rem;
    --bs-btn-padding-x:0.1rem;
    --bs-btn-font-size:0.875rem;
    --bs-btn-border-radius:var(--bs-border-radius-sm)
    
}
.btn-sm-ts2{
    width: 15px;
    height: 15px;
    text-align: center;
    --bs-btn-padding-y:0rem;
    --bs-btn-padding-x:0rem;
    --bs-btn-font-size:0.5rem;
    --bs-btn-border-radius:var(--bs-border-radius-sm)
    
}
.td-bg-style{
    --bs-btn-padding-y:0rem;
    --bs-btn-padding-x:0rem;
}