<nav class="navbar navbar-expand-lg faradja-bg1" >
    <div class="container-fluid">
      <a class="navbar-brand text-danger "><img src="../../../assets/logo.png" alt="logo" class="logo-size"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="authService.roles.includes('USER')">
            <a class="nav-link active text-light " routerLink="/user/home">Home</a>
          </li>
          <li class="nav-item"*ngIf="authService.roles.includes('USER')">
            <a class="nav-link text-light" routerLink="/user/ftimesheet">Timesheet</a>
          </li>
          <li class="nav-item"*ngIf="authService.roles.includes('USER')">
            <a class="nav-link text-light " routerLink="/user/notifications">Notifications</a>
          </li>
          <li class="nav-item" *ngIf="authService.roles.includes('HR')">
            <a class="nav-link text-light" routerLink="/admins/holidays">Holidays</a>
          </li>
          <li class="nav-item" *ngIf="authService.roles.includes('HR')">
            <a class="nav-link text-light" routerLink="/admins/users">Users</a>
          </li>
          <li class="nav-item" *ngIf="authService.roles.includes('ADMIN')">
            <a class="nav-link text-light" routerLink="/admins/connectedusers">Connected-users</a>
          </li>          
          <li class="nav-item dropdown "*ngIf="authService.roles.includes('USER')">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Manage 
            </a> 
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/admins/employees" >Employees</a></li>
              <li><a class="dropdown-item" routerLink="/admins/vacations">Vacations</a></li>
              <li><a class="dropdown-item" routerLink="/admins/projects">Projects</a></li>
              <li><hr class="dropdown-divider"></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled text-light " routerLink="/login" >About</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ms-2 ">
          <li>
            <button (click)="gotoNotifications()" matBadge="+" class="btn btn-sm btn-info"matBadgeSize="small"  matBadgeColor="accent">
              <i class="bi bi-bell-fill"></i>
            </button>
          </li>
        </ul>
        <ul class="navbar-nav ms-2  me-2 ">
          <li class="nav-item dropdown ">            
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="btn btn-info btn-sm ">{{authService.username}}</span>
            </a> 
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" (click)="logout()">Logout</button></li>                
            </ul>
          </li>
        </ul>       
      </div>
    </div>
</nav>