<div class="p-3 faradja-bg2">
    <div class="row col-12 f-bg ">
        <div class="card col-4 mt-4 f-bgs">

        </div>
        <div class="card col-4 mt-4  f-bgs bg-primary-subtle  bg-opacity-25  bg-gradient">
            <h2 class="mt-5 ms-3 text-xl-center  ">WELCOME ON FARADJA TIMESHEET APP</h2>
            <div class="card p-3    ">
                <div class="card-body">
                    <div class="mt-1 ">
                        <span class="bg-primary text-light ">ID : </span>
                        <span class="ms-1 ">{{timesheetState.employee.id}} </span>
                    </div>
                    <div class="mt-1 ">
                        <span class="text-light bg-primary  "> NAME: </span>
                        <span class="ms-1 ">{{timesheetState.employee.name+' '+timesheetState.employee.postName+' '+timesheetState.employee.nickName}} </span>
                    </div>
                    <div class="mt-1 ">
                        <span class="text-light bg-primary  "> Position: </span>
                        <span class="ms-1 ">{{timesheetState.employee.position}} </span>
                    </div>
                    <div class="mt-1 ">
                        <span class="text-light bg-primary "> Mail: </span>
                        <span class="ms-1 text-primary text-decoration-underline ">{{timesheetState.employee.mail}} </span>
                    </div>
                </div>
                <div class="text-center text-info mt-1 mb-1 ">supervisor</div >
                <div class="card-body">
                    <div class="mt-1 ">
                        <div class="mt-1 ">
                            <span class="text-light bg-primary  ">Supervisor-name: </span>
                            <span class="ms-1 ">{{timesheetState.supervisor.name+' '+timesheetState.supervisor.postName+' '+timesheetState.supervisor.nickName}} </span>
                        </div>
                        <span class="text-light bg-primary  "> Supervisor-ID: </span>
                        <span class="ms-1 ">{{timesheetState.supervisor.supervisorID}} </span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="card col-4 mt-4 f-bgs  ">
            
        </div>
    </div>
</div>