<h4 class="faradja-bg2 text-light  text-center ">{{title}} </h4>
<div class="row p-2  ">
    <div class="row col-md-12 ms-2 ">        
        <div class="card col-md-7 p-2 fill-50 overflow-auto ">
            <div *ngIf="employeesDataState==DataStateEnum.ERROR">
                <span class="alert-danger text-center ">ERROR </span>
            </div>
            <div class="text-center " *ngIf="employeesDataState==DataStateEnum.LOADING">
                <span class="spinner-grow "></span>
                <span>LOADING.....</span>
            </div>
            <div *ngIf="employeesDataState==DataStateEnum.LOADED">
                <div class="card fill-50" overflow-auto >
                    <table class="table table-sm table-striped table-responsive ">
                        <thead>
                            <th>ID</th><th>Name</th><th>Mail</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let e of employeesDTO.employees">
                                <td>{{e.employeeID}} </td><td><button class="btn" (click)="describe(e)">{{e.name+' '+e.postName+' '+e.nickName}}</button> </td><td><button class="btn" (click)="describe(e)">{{e.mail}}</button> </td>
                                <td>
                                    <button title="edit" class="btn btn-sm btn-warning " (click)="editEmployee(e)"><i class="bi bi-pencil-fill"></i> </button>    
                                </td>
                                <td>
                                    <button title="delete the employee" class="btn btn-sm btn-danger " (click)="deleteEmployee(e)"><i class="bi bi-trash-fill"></i> </button>    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card col-md-4 p-2 panel-bg ">
            <div *ngIf="employeeToDataState==DataStateEnum.NONE">
                <h2 class="text-center text-primary ">WELCOME </h2>
            </div>
            <div *ngIf="employeeToDataState==DataStateEnum.EDITING">
                <div class="mt-2 card ">
                    <div class="card-header ">EDIT THE EMPLOYEE</div>
                    <div class="card-body ">
                        <form [formGroup]="employeeFormGroup" (ngSubmit)="updateEmployee()">
                            <div class="input-group mt-1">
                                <label class="input-group-text " for="i_id">ID</label>
                                <input type="hidden" formControlName="id" >
                                <input type="text" class="form-control " id="i_id" formControlName="employeeID" >
                            </div>
                            <div class="input-group mt-1">
                                <label class="input-group-text " for="i_name">Name</label>
                                <input type="text" class="form-control " id="i_name" formControlName="name">
                            </div>
                            <div class="input-group mt-1">
                                <label class="input-group-text " for="i_pname">Post-Name</label>
                                <input type="text" class="form-control " id="i_pname" formControlName="postName">
                            </div>
                            <div class="input-group mt-1">
                                <label class="input-group-text " for="i_nname">Nick-Name</label>
                                <input type="text" class="form-control " id="i_nname" formControlName="nickName">
                            </div>                                
                            <span class="mt-1 mb-1 text-warning ">Select the gender</span>
                            <div class="input-group mt-1">
                                <label class="input-group-text " for="i_gender">Gender</label>
                                <select name="genders" id="i_gender" formControlName="gender">
                                    <option *ngFor="let gender of genders" value="{{gender}}">{{gender}} </option>
                                </select>
                            </div>
                            <div class="input-group mt-1">
                                <label class="input-group-text " for="i_pnumber">Phone number</label>
                                <input type="text" class="form-control " id="i_pnumber" formControlName="phoneNumber">
                            </div>
                            <div class="input-group mt-1  ">
                                <label class="input-group-text" for="i_mail">E-mail</label>
                                <input type="email" class="form-control " id="i_mail" formControlName="mail" >
                            </div>
                            <span class="mt-1 mb-1 text-success ">Select the employee's position</span>
                            <div class="input-group mt-1  ">
                                <label class="input-group-text" for="i_pos">Position</label>
                                <select name="postions" id="i_pos" formControlName="position">
                                    <option *ngFor="let pos of employeesDTO.positions" value="{{pos}}">{{pos}} </option>
                                </select>
                            </div>
                            <div class="input-group mt-1  ">
                                <label class="input-group-text" for="i_seid">Supervisor</label>
                                <select name="supervisor" id="i_seid"  maxlength="9" formControlName="supervisorID">
                                    <option *ngFor="let sup of employeesDTO.employees" value="{{sup.employeeID}}"><span class="text-success me-1 ">{{sup.position}}</span> <span class="ms-1">::{{sup.nickName+' '+sup.name}}</span> </option>
                                </select>
                            </div>
                            <div class="input-group mt-1  ">
                                <label class="input-group-text" for="i_owh">Other worked hours</label>
                                <input type="number" class="form-control " id="i_owh" formControlName="otherWorkedHours" >
                            </div>
                            <div class="input-group mt-2 ">
                                <button class="btn btn-dark " type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="flex-fill "*ngIf="employeeToDataState==DataStateEnum.LOADING">
                <span class="spinner-grow "></span>
                <span>LOADING .....</span>
            </div>
            <div *ngIf="employeeToDataState==DataStateEnum.ADDNEW">
                <div class="card  ">
                    <div class="card-header bg-success text-light  ">ADD A NEW USER</div>
                    <div class="card-body">
                        <form [formGroup]="employeeFormGroup" (ngSubmit)="saveEmployee()">
                            <div class="input-group mt-1">
                                <label class="input-group-text " for="i_name">Name</label>
                                <input type="text" class="form-control " id="i_name" formControlName="name">
                            </div>
                            <div class="input-group mt-1">
                                <label class="input-group-text " for="i_pname">Post-Name</label>
                                <input type="text" class="form-control " id="i_pname" formControlName="postName">
                            </div>
                            <div class="input-group mt-1">
                                <label class="input-group-text " for="i_nname">Nick-Name</label>
                                <input type="text" class="form-control " id="i_nname" formControlName="nickName">
                            </div>                                
                            <span class="mt-1 mb-1 text-warning ">Select the gender</span>
                            <div class="input-group mt-1">
                                <label class="input-group-text " for="i_gender">Gender</label>
                                <select name="genders" id="i_gender" formControlName="gender">
                                    <option *ngFor="let gender of genders" value="{{gender}}">{{gender}} </option>
                                </select>
                            </div>
                            <div class="input-group mt-1">
                                <label class="input-group-text " for="i_pnumber">Phone number</label>
                                <input type="text" class="form-control " id="i_pnumber" formControlName="phoneNumber">
                            </div>
                            <div class="input-group mt-1  ">
                                <label class="input-group-text" for="i_mail">E-mail</label>
                                <input type="email" class="form-control " id="i_mail" formControlName="mail" >
                            </div>
                            <span class="mt-1 mb-1 text-success ">Select the employee's position</span>
                            <div class="input-group mt-1  ">
                                <label class="input-group-text" for="i_pos">Position</label>
                                <select name="postions" id="i_pos" formControlName="position">
                                    <option *ngFor="let pos of employeesDTO.positions" value="{{pos}}">{{pos}} </option>
                                </select>
                            </div>
                            <div class="input-group mt-1  ">
                                <label class="input-group-text" for="i_seid">Supervisor-ID</label>
                                <input type="text" class="form-control-sm  " maxlength="10" id="i_seid" formControlName="supervisorID" >
                            </div>
                            <div class="input-group mt-2 ">
                                <button class="btn btn-dark " type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="employeeToDataState==DataStateEnum.LOADED">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span class="me-2 text-primary ">ID : </span><span class="btn btn-sm btn-info">{{employeeTo.employeeID}} </span>
                        </div>
                        <div class="mt-2">
                            <span class="me-2 text-primary ">NAME : </span><span  class="btn btn-sm btn-info">{{employeeTo.name}} </span>
                        </div>
                        <div class="mt-2">
                            <span class="me-2 text-primary  ">POST-NAME : </span><span  class="btn btn-sm btn-info">{{employeeTo.postName}} </span>
                        </div>
                        <div class="mt-2">
                            <span class="me-2 text-primary  ">NICK-NAME : </span><span  class="btn btn-sm btn-info">{{employeeTo.nickName}} </span>
                        </div>
                        <div class="mt-2">
                            <span class="me-2 text-primary  ">GENDER : </span><span  class="btn btn-sm btn-info">{{employeeTo.gender}} </span>
                        </div>
                        <div class="mt-2">
                            <span class="me-2 text-primary  ">PHONE-NUMBER : </span><span  class="btn btn-sm btn-info">{{employeeTo.phoneNumber}} </span>
                        </div>
                        <div class="mt-2">
                            <span class="me-2 text-primary  ">E-MAIL : </span><span  class="btn btn-sm btn-info">{{employeeTo.mail}} </span>
                        </div>
                        <div class="mt-2">
                            <span class="me-2 text-primary  ">POSITION : </span><span  class="btn btn-sm btn-info">{{employeeTo.position}} </span>
                        </div>                       
                        <div class="mt-2">
                            <span class="me-2 text-primary  ">SUPERVISOR-ID : </span><span  class="btn btn-sm btn-info">{{employeeTo.supervisorID}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1 ">
            <div class="p-2  ">
                <button class="btn btn-success " title="Add a new employee" (click)="getNewEmployee()">
                   new Employee 
                   <i class="bi bi-plus-circle"></i>
                </button>
            </div>
        </div>
    </div>
    
</div>