.userscroll-bar{
    overflow: auto;
}
.panel-bg{
    background-color: rgb(177, 250, 213);
}
.form-bg{
    background-color: rgb(138, 146, 126);
}
.faradja-bg2{
    background-color: rgb(17, 17, 80);
}