.title-background{
    text-decoration: solid;
    text-align: center;
    color: rgb(252, 252, 253);
    background-color: orangered;
}
.faradja-bg2{
    background-color: rgb(17, 17, 80);
}
.edit-bg{
    background-color: rgb(236, 203, 154);
}